# Editor files
*~
*.bak
.project
.pydevproject

# Python intermediates
__pycache__
*.egg-info
requirements.txt
build
dist
.venv*/

# Test outputs
testresults.xml
.coverage
coverage.xml
/.pytest_cache/
